header {
  /* border-bottom: 1px solid var(--color-light-gray); */
}

.headerSection {
  margin: 0 auto;
  max-width: 1400px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  max-width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 24px;
}

.logoPic {
  display: flex;
  cursor: pointer;
}

.logoPic img {
  width: 70px;
  height: 50px;
}

.headerMenu {
}

.headerMenu a {
  font-size: 22px;
  font-weight: 700;
  padding: 0 12px;

  color: var(--color-black);
  background: linear-gradient(var(--color-medium-pink) 0 0) 0 100% / var(--d, 0)
      2px no-repeat,
    linear-gradient(var(--color-medium-pink) 0 0) 100% calc(100% - 21px) /
      var(--d, 0) 2px no-repeat;
  transition: 0s 0.5s, background-size 0.5s;
}

.headerMenu a:hover {
  --d: 100%;
  background-position: 0% calc(100% - 2px), 100% calc(100% - 2px);
  transition: 0.3s, background-position 0.5s 0.3s;
}

.leftContainer {
  display: flex;
  padding-left: 12px;
}

.centerMenuDiv {
  display: flex;
}

.rightContainer {
  display: flex;
  padding-right: 12px;
}

.rightContainer a {
  padding: 0 12px;
  color: var(--color-black);
  font-size: 18px;
}

.hamburgerMenu {
  display: none;
}

.mobileMenu {
  display: none;
}

.addFavorites svg {
  color: var(--color-black);
  width: 28px;
  height: 28px;
}

.addFavorites svg:hover {
  color: var(--color-medium-pink);
}

.searchIcon svg {
  width: 28px;
  height: 28px;
}

.searchIcon svg:hover {
  color: var(--color-medium-pink);
}

.shopBasket svg {
  width: 28px;
  height: 28px;
}

.shopBasket svg:hover {
  color: var(--color-medium-pink);
}

@media all and (max-width: 800px) {
  .headerMenu a {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }

  .hamburgerMenu svg {
    width: 20px;
    height: 20px;
  }

  .addFavorites {
    display: none;
  }

  .searchIcon svg {
    width: 20px;
    height: 20px;
  }

  .shopBasket svg {
    width: 20px;
    height: 20px;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .mobileMenu a {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    margin: 12px 0;
    background: linear-gradient(var(--color-medium-pink) 0 0) 0 100% /
        var(--d, 0) 2px no-repeat,
      linear-gradient(var(--color-medium-pink) 0 0) 100% calc(100% - 16px) /
        var(--d, 0) 2px no-repeat;
    transition: 0s 0.5s, background-size 0.5s;
  }

  .mobileMenu a:hover {
    --d: 100%;
    background-position: 0% calc(100% - 1px), 100% calc(100% - 1px);
    transition: 0.3s, background-position 0.3s 0.3s;
  }

  .leftContainer {
    order: 2;
    padding: 0;
  }

  .rightContainer {
    order: 1;
  }

  .centerMenuDiv {
    order: 3;
    padding: 0 12px;
  }

  header {
    border: none;
  }

  .headerContainer {
    /* border-bottom: 1px solid var(--color-light-gray); */
  }

  .shopMobile {
    display: flex;
    align-items: center;
  }
}

@media all and (max-width: 550px) {
  .logoContainer h2 {
    display: none;
  }
}
